body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    overflow: hidden;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #e6e78d;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #b1b36d;
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #a1a357;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/Cork_Seamless.jpg);
    background-repeat: repeat;
    background-size: 35%;
    border-image-source: url(assets/images/frame.jpg);
    border-image-slice: 187 187 187 187;
    border-image-width: 25px 25px 25px 25px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    box-shadow: 0px 0px 60px inset black;
}

/* Settings Menu */

#settings_wrapper {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(5px);
}

.setting_option {
    padding-left: 10px;
}

.close_wrapper {
    display: flex;
    width:auto;
    justify-content: right;
    user-select: none;
}

.close_button {  
    width: 16px;
    height: 16px;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
    transition: filter 0.2s ease-in-out;
}

.close, .close p{
    display: flex;
    margin: 0px;
    padding: 2px;
    border-radius: 16px;
    background-color: transparent;
    overflow: hidden;
    transition-property: width, background-color;
    transition-duration: 0.4s, 0.2s;
    transition-timing-function: ease-in-out;
}

.close {
    width: 26px;
    cursor: pointer;
}

.close:hover {
    width: 75px;
    background-color: #f55252;
    transition-property: width, background-color;
    transition-duration: 0.2s, 0.1s;
    transition-timing-function: ease-in-out;
}

.close:hover .close_button {
    filter:invert(0.95);
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
}

#settings #deco_line {
    margin-top: 8px;
    margin-bottom: 5px;
    transform: translateX(-10px);
}

#settings {
    list-style-type: setting_menu;
    width: 50%;
    min-width: 400px;
    max-width: 700px;
    height: 80%;
    align-self: center;
    background-color: #f8fa99;
    font-size: larger;
    border-radius: 3px;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 35px;
}

/* Changelog */

#changelog {
    visibility: hidden;
    position: absolute;
    list-style-type: setting_menu;
    width: 50%;
    min-width: 400px;
    max-width: 700px;
    height: 80%;
    align-self: center;
    background-color: #f8fa99;
    font-size: larger;
    border-radius: 3px;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 35px;
}

#logs {
    height: auto;
    width: auto;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    padding-right: 3px;
    padding-left: 32px;
    margin-left: -32px;
}

.log {
    border: #767749 1px solid;
    border-radius: 3px;
    background-color: #feffab;
    list-style-type:changelog;
    list-style-position:outside;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.312);
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.log::marker {
    font-size: larger;
}

.log ul {
    list-style-type:circle;
}

.log p{
   margin: 5px;
   margin-left: 30px;
   font-weight: bold;
   text-decoration: underline;
   text-decoration-color:#b1b36d;
}

#title_wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 20px;
    margin-bottom: 30px;
    transform: translateX(-12px);

}

#title_wrapper::after {
    content: "Changelog";
    position: absolute;
    top:-25px;
    background-color: #f8fa99;
    padding: 10px;
    font-size: 25px;
    transform: translateX(15px);
}

/* Context Menu */

#wrapper {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 99999;
}

@counter-style setting_menu {
    system: cyclic ;
    symbols: "📣" " " "🛠️";
    suffix: "";
}

@counter-style changelog {
    system: cyclic;
    symbols: "📅" "📝" "✉️" "🧾" "⏱️" "💌" "🏷️" "📦" "📢";
    suffix: "";
}

@counter-style menu {
    system: cyclic;
    symbols: "📁" "🗑️" "📌" " " "⚙️";
    suffix: "";
}

@counter-style submenu {
    system: cyclic;
    symbols: "✏️" "📷" "📌";
    suffix: "";
}

.deco_line {
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
    border-top:#767749 solid 1px;
    transform: translateX(-25px);
    list-style: none;
}

#menu {
    list-style-type: menu;
    font-size: larger;
    width: 140px;
    padding: 20px;
    padding-right: 0px;
    padding-left: 35px;
    background-color: #f8fa99;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
}

#menu li {
    width: 95%;
    padding-left: 5px;
    transition: background-color 0.1s ease-in-out;
}

.menu_buttons {
    border-radius: 3px;
}

.menu_buttons:hover {
    background-color: #e1e288;
    cursor: pointer;
}

#item_menu {
    position: absolute;
    left: 95%;
    top: 15%;
    list-style-type: submenu;
    width: 110px;
    padding: 20px;
    padding-left: 35px;
    background-color: #f8fa99;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
    visibility: hidden;
}

#new_item:hover #item_menu {
    visibility: visible;
}

.Removable {
    cursor: pointer;
    pointer-events: all !important;
}

.trash_icon,
.pin_icon {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
}

.tshow,
.pshow {
    visibility: visible;
}

.String {
    visibility: hidden;
    position: absolute;
    width: 10px;
    min-width: 70px;
    height: 15px;
    top: 6px;
    left: 91px;
    background-image: url(assets/images/Red_String_Seamless_Single.png);
    background-repeat: repeat-x;
    background-size: contain;
    z-index: 9998;
    transform-origin: 5px 50%;
    pointer-events: none;
}

.Pictures {
    visibility: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fffff2;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
}

.Pictures #img {
    position: absolute;
    top: -35px;
    left: 45%;
    width: 48px;
    max-width: 48px;
    align-self: center;
    user-select: none;
    z-index: 9999;
}

.Pictures #img_area {
    display: flex;
    height: 70%;
    width: 85%;
    margin: 15px;
    margin-bottom: 0px;
    border: rgb(168, 168, 168) 1px solid;
    background-color: #feffca;
    border-radius: 3px;
    justify-content: center;
    align-content: center;
}

.Pictures #img_area label {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Pictures #img_area input {
    display: none;
}

.Pictures #img_area #image_plus {
    width: 80px;
    max-width: 80px;
    align-self: center;
    user-select: none;
    cursor: pointer;
}

.Pictures #img_area #image {
    display: none;
    width: auto;
    height: auto;
    min-height: 70%;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    user-select: none;
}

.Pictures #img_label {
    overflow: hidden;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #fffff2;
    font-family: inherit;
    font-size: inherit;
    align-self: center;
    margin-top: 10px;
    border: 1px solid #fffff2;
}

.Pictures #img_label:hover {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;
}

.Notes {
    visibility: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f8fa99;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
    z-index: 0;
}

.Notes #text_area {
    height: 71.5%;
    margin-top: 25px;
}

.Notes #text_format {
    display: flex;
    height: 25%;
    padding: 0%;
    border-radius: 3px;
    margin-left: 1px;
    justify-content: left;
    align-content: center;
    text-align: center;
    visibility: hidden;
}

.Notes #text_area textarea:focus+#text_format {
    visibility: visible;
}

.Notes #text_format ul {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0%;
    margin: 0%;
    margin-left: 11px;
    margin-right: 11px;
}

.Notes #text_format img {
    width: 24px;
    max-width: 24px;
    padding: 6px;
    border-radius: 2px;
    align-self: center;
    user-select: none;
    cursor: pointer;
}

.Notes #text_format img:hover {
    background-color: #e1e288;
}

.Notes #text_area textarea {
    width: 95%;
    height: 86%;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    word-wrap: break-word;
    resize: none;
}

.Notes #text_area textarea:focus {
    outline: none;
    border: #b3b46e 2px solid;
    border-radius: 2px;
}

.Notes #img {
    position: absolute;
    top: -33px;
    left: 45%;
    width: 48px;
    max-width: 48px;
    align-self: center;
    user-select: none;
    cursor: grab;
    z-index: 9999;
}

.toggled_text_button {
    background-color: #b3b46e;
    border: #9b9c60 2px solid;
    border-radius: 3px;
}

.toggled_text_button:hover {
    background-color: #767749;
}

.italic {
    font-style: italic;
    content: url(assets/icons_format/second_color/italic.png);
}

.bold {
    font-weight: bold;
    content: url(assets/icons_format/second_color/bold.png);
}

.strike {
    text-decoration: line-through;
    content: url(assets/icons_format/second_color/strikethrough.png);
}

.underline {
    text-decoration: underline;
    content: url(assets/icons_format/second_color/underline.png);
}